{% extends "index.html" %}


{% block content %}
  <h2>NLP Model - Email Spam Classifier</h2>

    <div class="container-fluid">
        <div class="col-lg-6">
                <form action="{{ url_for('emailSpamClassifyresult') }}" method="post">
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="emailtext">Email Body</label>
                            </div>
                            <div class="col-lg-8 col-md-2">

                                <textarea name="emailtext"  id="emailtext"  rows="6" cols="50"></textarea>

                            </div>
                        </div>


                        <br>
                        <center>
                            <button type="submit" class="btn btn-dark" value="submit">Submit</button>
                        </center>
                    </div>
                </form>
        </div>
    </div>

{% endblock %}
